<ion-view view-title="Pharmacie">
	<ion-content>
		
			 <div class="list card">
			<ion-list >
			  <ion-item class="item item-thumbnail-left">
			     <img style="background-image:url(img/pharmacy.jpg); border-radius:50%; background-position:center center; background-size:cover; width:100%; height:100%;"> 
			    <h2 style="margin-top: 20px !important; font-size: larger;"><B>ABDELMOULA AHMED</B></h2>
			    <p> Pharmacie</p>
			  </ion-item>
			</ion-list>

  			<ion-list >
			    <ion-item >      
			    	<h3 style="font-size: initial;">  <B>Code postale :</B></h3>
			    	2080 ARIANA
			     </ion-item>
			    <ion-item >      
			    	<h3 style="font-size: initial;">  <B>Adresse :</B></h3>
			    	71,Avenue Habib Bourguiba
			     </ion-item>
			     <ion-item >      
			    	<h3 style="font-size: initial;">  <B>Tél:</B></h3>
			    	 71753008 
			     </ion-item>
			    <ion-item >      
			    	<h3 style="font-size: initial;">  <B>Fax: :</B></h3>
			    	
			     </ion-item>
			</ion-list>
 		 </div>
			
	</ion-content>
</ion-view>