<ion-view view-title="Médecin">
	<ion-content>
		<div class="container" >
			<div class="row">
                <div class="col-xs-3 col-sm-2" >
                    <img src="img/doctor.jpg" width="100" alt="" />
                </div>
                <div class="col-xs-9 s-text-center" style=" padding-top:10px" >
                    <h4 align="left">KHATTECHE ABDERRAOUF</h4>


                </div>
			
			</div>
			<table>
				<tr>
					<td>Spécialité : </td>
					<td>  <p>généraliste</p></td>
				</tr>

				<tr>
					<td style="padding-right:5px;">Délégation: </td>
					<td>  <p> ARIANA </p> </td>
				</tr>

				<tr>
					<td>Localité:</td>
					<td> <p>EL MENZAH VI</p> </td>
				</tr>
				<tr>
					<td>adresse:</td>
					<td> <p>CITE JAMIL BLOC D EL MENZAH VI </p> </td>
				</tr>
				<tr>
					<td>Tél :</td>
					<td> <p>71753008 </p> </td>
				</tr>
				<tr>
					<td>Fax:</td>
					<td> <p></p> </td>
				</tr>
			</table>
			
			
		</div>
		
	</ion-content>
</ion-view>