<ion-view view-title="Medécin">
 <div class="middle-container container s-margin-toop">
               <!-- PROFILE (MIDDLE-CONTAINER) -->
                   
                    <div class="profile-picture big-profile-picture clear">
                        <img width="150px"src="img/doctor.jpg" >
                    </div>
                    <h3 class="user-name">KHATTECHE ABDERRAOUF</h3>
                    <div class="profile-description">
                        <p class="scnd-font-color">Tunis , TN</p>
                    </div>
                
</div>

               <div ng-cloak="" class="tabsdemoDynamicHeight" >
                <md-content>
                <md-tabs md-dynamic-height="" md-border-bottom="" >
                    <md-tab >
                    
                        <md-tab-label >
                            <span class="glyphicon glyphicon-user"></span>
                        </md-tab-label>

                        <md-tab-body class=" md-padding">
                            <in-list>
                              <ion-item class=" s-text-center">
                                Spécialité : généraliste
                              </ion-item>

                              <ion-item class=" s-text-center">
                                Sexe : <label>homme</label>        
                              </ion-item>

                              <ion-item class=" s-text-center">
                                Adresse : <label>monastir</label>         
                              </ion-item>

                              <ion-item class=" s-text-center">
                               tél : <label>71 753 008</label>         
                              </ion-item>

                            </ion-list>                         
                    
                        </md-tab-body>
                    </md-tab>


                    <md-tab>
                        <md-tab-label>
                            <span class="glyphicon glyphicon-cog"></span>
                        </md-tab-label>
                        <md-tab-body class="md-padding ">
                            <h1 class="md-display-2">Tab One</h1>
                            <p>Lorem ipsum dolor s</p>
                        </md-tab-body>
                    </md-tab>


                    <md-tab label="three">
                        <md-tab-label>

                            <span class="glyphicon glyphicon-envelope"></span>

                        </md-tab-label>

                        <md-tab-body class="md-padding ">
                            <h1 class="md-display-2">Tab One</h1>
                            <p>Lorem ipsum dolor s</p>
                        </md-tab-body>
                    </md-tab>


                    <md-tab label="three">
                        <md-tab-label>

                            <span class="glyphicon glyphicon-calendar"></span>

                        </md-tab-label>

                        <md-tab-body class="md-padding ">
                            <h1 class="md-display-2">Tab One</h1>
                            <p>Lorem ipsum dolor s</p>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
                  </md-content>
</div>
                </div>
 </ion-view>
