<ion-view view-title="Localisation">
	<div class="tabsdemoDynamicHeight " style="margin-top: 45px;">
	  <md-content>
	    <md-tabs md-dynamic-height="" md-border-bottom="">

            <md-tab>
                <md-tab-label >
                   <!--  <span class="ion-search" style="font-size: 30px;"></span><br> -->
                    <label>Positionnement</label>
                </md-tab-label>
                <md-tab-body class="md-padding ">
                <div style="    background-color: #E8E4E4; height: 10px;"></div>
                	<div class="s-text-center">
                		<!-- adresse -->
						
						<div class="textfield textfield--floatingLabel">
			                <input class="textfield__input" type="text" required="required" id="adresse" ng-model="doc.ville"/>
			            <label class="textfield__label" >Ville :</label>
			            </div>

			            <div class="textfield textfield--floatingLabel">
			                <input class="textfield__input" type="text" required="required" id="adresse" ng-model="doc.region"/>
			            <label class="textfield__label" >Région :</label>
			            </div>

			            <div class="textfield textfield--floatingLabel">
			                <input class="textfield__input" type="number" required="required" id="distance" ng-model="doc.distance" />
			            <label class="textfield__label" >Distance en métre : </label>
			            </div>

			            <div style="margin-top:40px; margin-left:10%; margin-right:10%;">
			                <button class="button button-block " style="    background-color: #EAEAEA;"ng-click='searchByLocation(doc)'>
			                    <!--  ui-sref="menu.resultDoctor" --> 
			                  chercher
			                </button>
			            </div>
                	</div>
                </md-tab-body>
            </md-tab>

<!-- ---------------------------------------------------------------------------------------------- -->	     

			<md-tab>
                <md-tab-label icon="ion-search">
<!--                     <span class="ion-search"></span> -->
						<label>Coordonnées</label>
                 </md-tab-label>
                 <md-tab-body class="md-padding ">
                 <div style="    background-color: #E8E4E4; height: 10px;"></div>
					<div class="s-text-center">
						<!-- coordonnées -->
			            <div class="textfield textfield--floatingLabel">
			                <input class="textfield__input" type="text" required="required" id="name" ng-model="doctor.name"/>
			            <label class="textfield__label" >Nom :</label>
			            </div>

			            <div class="textfield textfield--floatingLabel">
			                <input class="textfield__input" type="text"  required="required" ng-model="doctor.lastname"/>
			            <label class="textfield__label" >Prénom:</label>
			            </div>

			           
			           <div class="subject">
			              <label class="dropdown-label textfield__label" for="subject">Spécialité</label>
			              <select class="dropdown-select" placeholder="Spécialité" name="subject" id="subject_input" ng-model="doctor.specialty" required>
			                <option disabled  selected>Spécialité</option>
			                <option>généraliste</option>
			                <option>Gynécologue</option>
			                <option>Ophtalmologue</option>
			                <option>Stomatologue</option><option>généraliste</option>
			                <option>Gynécologue</option>
			                <option>Ophtalmologue</option>
			                <option>Stomatologue</option><option>généraliste</option>
			                <option>Gynécologue</option>
			                <option>Ophtalmologue</option>
			                <option>Stomatologue</option>
			              </select>
			            </div>



			            		<!-- RadioBox : gender -->
			      		<!--************************************ -->

						<div >
						 
						        <input type="radio" name="sexe" id="homme"  ng-model="doctor.gendre" class="css-checkbox2" ng-value="'homme'"/>
						        <label for="homme" class="css-label2">Homme</label>
						   
						        <input type="radio" name="sexe" id="femme" ng-model="doctor.gendre"class="css-checkbox2" checked="checked" ng-value="'femme'"/>
						        <label for="femme" class="css-label2" style="margin-left: 20px;">Femme</label>
						      
						</div>


			            <div style="margin-top:40px; margin-left:10%; margin-right:10%;">
			                <button class="button button-block " style="    background-color: #EAEAEA;" ng-click='search(doctor)'>
			                  chercher
			                </button>
			            </div>
					</div>

                </md-tab-body>
            </md-tab>


	    </md-tabs>
	  </md-content>
	</div>

 
</ion-view>