<ion-view view-title="Consultations">
	<ion-content>
		<div class="list card">
			<ion-list >
			  <ion-item class="item item-thumbnail-left" href="#/menu/myDoctor/{{consultation.idDoc}}">
			     <img style="background-image:url(img/doctor.jpg); border-radius:50%; background-position:center center; background-size:cover; width:100%; height:100%;">
			    <h2 style="margin-top: 20px !important; font-size: larger;white-space: pre-wrap !important;"><B>{{consultation.doctor}}</B></h2>
			    <p> {{consultation.specialite}}</p>
			  </ion-item>
			</ion-list>

  			<ion-list >
			    <ion-item >
			    	<h3 style="font-size: initial;">  <B>Date :</B></h3>
			    	{{consultation.date | customDate}}
			     </ion-item>
			    <ion-item >
			    	<h3 style="font-size: initial;">  <B >Nature :</B></h3>
			    	{{consultation.maladie}}
			     </ion-item>
			     <ion-item >
			    	<h3 style="font-size: initial;">  <B>Médicament:</B></h3>
			    	 {{consultation.medicament}}
			     </ion-item>
			    <ion-item >
			    	<h3 style="font-size: initial;">  <B>Montant :</B></h3>
			    	{{consultation.prix}}
			     </ion-item>
			</ion-list>
 		 </div>

  		<div class="list card">
		    	<h3 style="color: #2970E8; font-size: initial;">  <B>Traitement de sortie :</B></h3>
		    	<p style="white-space: pre-wrap !important;"> {{consultation.description}}</p>

		</div>
	</ion-content>
</ion-view>
