<ion-view view-title="Liste des consultations">
	<ion-content style="background-color: #F8F8F8">
		<ion-refresher
   			pulling-text="Pull to refresh..."
    		on-refresh="doRefresh()">
 		 </ion-refresher>
		<ion-list >

		    <ion-item class="item-remove-animate item-avatar item-icon-right "  ng-repeat="consultation in consultationArray" href="#/menu/consultation/{{consultation.id}}" type="item-text-wrap" style="margin:10px;">      

     		  <img src="img/doctor.jpg" >
		      <h2>Dr : {{consultation.doctor}}</h2>
		      <p>maladie : {{consultation.maladie}}</p>
		      <p>Date: {{consultation.date}}</p>
		      <i class="icon ion-chevron-right icon-accessory"></i>
		    </ion-item>
		</ion-list>
	</ion-content>
</ion-view>