<ion-view view-title="Notifications">
    <ion-content>
            <!-- paragraphe pour decrire  à quoi sert cette interfacer -->
            <!-- Vous pouver activer desactiver les notification -->
            <p> </p>
        <div class="list">
          <div class="item item-divider"></div>
          <ion-toggle ng-model="canceledRDV.checked" ng-change="canceled()" toggle-class=""> rendez-vous annulé</ion-toggle>
            
         
          <div class="item item-divider"></div>
          <ion-toggle ng-model="editRDV.checked" ng-change="edit()" toggle-class=""> rendez-vous modifié</ion-toggle>
            
          <div class="item item-divider"></div>
        
           <!--***************************************** -->
          <ion-toggle toggle-class="" ng-model="comingRDV.checked" ng-change="notification()">
                 rendez-vous à venir 
          </ion-toggle> 

          <div class="list" ng-show="comingRDV.checked">

         
                 <ion-radio class="s-padding-left" ng-change="notifyMe()" ng-model="choice.checked" ng-value="'B1'">avant 1 jour</ion-radio>
                 <ion-radio class="s-padding-left" ng-change="notifyMe()" ng-model="choice.checked" ng-value="'B2'">avant 2 jours</ion-radio>
                 <ion-radio class="s-padding-left"  ng-change="notifyMe()" ng-model="choice.checked" ng-value="'B3'">avant 3 jours</ion-radio>
          
          </div>

         <!--***************************************** -->


      </div>



            
        </div>
    </ion-content>
</ion-view>