<ion-view view-title="Localisation">
<ion-tabs class="tabs-top tabs-icon-top">
    <!-- filtre basique -->
    <ion-tab title="Filtre basique" icon="ion-search">
        <i></i>
        <ion-content class="s-text-center">
            

                <!-- adresse -->
            <div class="textfield textfield--floatingLabel">
                <input class="textfield__input" type="text" required="required" id="homeSearch" />
            <label class="textfield__label" >Adresse :</label>
            </div>

            <div class="textfield textfield--floatingLabel">
                <input class="textfield__input" type="text" required="required" id="homeSearch" />
            <label class="textfield__label" >Distance en Km :</label>
            </div>

            <div style="margin-top:40px; margin-left:10%; margin-right:10%;">
                <button class="button button-block " style="    background-color: #EAEAEA;" ui-sref="menu.resultPharmacy">
                  chercher
                </button>
            </div>


        </ion-content>

    </ion-tab>


    <!-- filtre par localisation -->
    <ion-tab title="Filtre" icon="ion-android-funnel">
        <i></i>
        <ion-content class="s-text-center">
            

                <!-- adresse -->
            <div class="textfield textfield--floatingLabel">
                <input class="textfield__input" type="text" required="required" id="homeSearch" />
            <label class="textfield__label" >Nom :</label>
            </div>

            <div class="textfield textfield--floatingLabel">
                <input class="textfield__input" type="text" required="required" id="homeSearch" />
            <label class="textfield__label" >Prénom:</label>
            </div>

           
           <div class="subject">
              <label class="dropdown-label" for="subject"></label>
              <select class="dropdown-select" placeholder="Ville" name="subject" id="subject_input" required>
                <option disabled hidden selected>Ville :</option>
                <option>Tunis</option>
                <option>Monastir</option>
                <option>Sousse</option>
                <option>Mahdia</option>
                <option>Nabeul</option>
       
              </select>
            </div>


      <!--************************************ -->

            <div style="margin-top:40px; margin-left:10%; margin-right:10%;">
                <button class="button button-block " style="    background-color: #EAEAEA;" ui-sref="menu.resultPharmacy">
                  chercher
                </button>
            </div>

        </ion-content>

    </ion-tab>

</ion-tabs>
</ion-view>