<ion-view view-title="Mes rendez-vous">
	<ion-content>
		<ion-list>

		    <ion-item class="item-remove-animate item-avatar item-icon-right " ui-sref="menu.rdv" ng-repeat="rdv in rdvArray" type="item-text-wrap">      

     		  <img src="img/doctor.jpg" >
		      <h2>Dr : {{rdv.doctor}}</h2>
		      <p>local : {{rdv.local}}</p>
		      <p>Date: {{rdv.date}}</p>
		      <p>heure: {{rdv.heure}}</p>
		      <i class="icon ion-chevron-right icon-accessory"></i>
		    </ion-item>
		</ion-list>
	</ion-content>
</ion-view>