<ion-view view-title="rendez-vous">
	<ion-content>
		<div class="container" >
			<div class="row">
                <div class="col-xs-3 col-sm-2" >
                    <img src="img/doctor.jpg" width="100" alt="" />
                </div>
                <div class="col-xs-9" style="padding-left:30px; padding-top:10px" >
                    <h4 align="left">medécin : nom de docteur</h4>
                    <p>spécialité : généraliste </p>

                </div>
			
			</div>
			<table>
				<tr>
					<td>date :</td>
					<td> <p>lundi 12 janvier 2016</p></td>
				</tr>

				<tr>
					<td>heure:</td>
					<td> <p>10:30 </p> </td>
				</tr>

				<tr>
					<td style="padding-right:5px;">local: </td>
					<td>  <p> teboulba rue de ...</p> </td>
				</tr>

				
			</table>
			
			
		</div>
		
	</ion-content>
</ion-view>