<ion-view view-title="Localisation">
	<ion-content>

	
		<div class="container">
              <div class="row">
                <div class="col-xs-5 col-sm-2" >
                    <img src="img/iconBlue.png" width="128" alt="" />
                </div>
                <div class="col-xs-7" style="padding-top:35px">
                  <h3 align="left"> SmartH</h3>
                  <hr style="margin-top:0;margin-bottom:0;border-bottom:1px solid #425F9C;"></hr>
                  <h4 align="left"> Mobile</h4>
                </div>
              </div>
              <div class="s-centred-row row text-center">
                <div class="col-xs-12 s-centred-row">
	               

					<button class="button button-block s-button-color" ui-sref="visiteurMenu.searchDoctor">
					    <i class="icon s-float-left"><img src="img/icon/map.png" width="30px"/>  Localisation de medécin</i>  
					</button>


					<button class="button button-block s-button-color" ui-sref="visiteurMenu.searchPharmacy">
					  <i class="icon s-float-left"><img src="img/icon/map.png" width="30px"/>  Localisation de pharmacie</i>  
					</button>

          <button class="button button-block s-button-color" ui-sref="login">
            <i class="icon s-float-left"><img src="img/icon/user.png" width="30px"/>  Se connecter</i>  
          </button>

					
                </div>
              </div>

        </div>

	</ion-content>
</ion-view>