.fabSpeedDial .text-capitalize {
   text-transform: capitalize;
}
.fabSpeedDial .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
   background-color: #000 !important;
}
.fabSpeedDial p.note {
   font-size: 1.2rem;
}
.fabSpeedDial .lock-size {
   min-width: 300px;
   min-height: 300px;
   width: 300px;
   height: 300px;
   margin-left: auto;
   margin-right: auto;
}
.md-button.md-warn.md-fab {
    color: rgb(255,255,255);
    background-color: rgb(46, 120, 191);
}
.md-button.md-warn.md-fab:not([disabled]):hover {
    background-color: rgb(46, 120, 191);
}