.css-checkbox2 {
    display:none;
}

.css-checkbox2 + .css-label2 {
    padding-left:23px;
    height:20px; 
    display:inline-block;
    line-height:20px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:16px;
    vertical-align:middle;
    cursor:pointer;

}

.css-checkbox2:checked + .css-label2 {
    background-position: 0 -20px;
}
.css-label2 {
    background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_4c915abe806c8ccc371478aaeae02583.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*********************************/
